{% extends "base.html" %}
{% block main %}
<div class="half-screen school">
  <div class="school-info">
    <h1>University of Warwick</h1>
    <p class="subtitle">
      BSc (Hons) Physics with Business Studies
    </p>
    <p>
      Excelling in classes from both Physics and Business disciplines has
      provided me with a keen business acumen, problem solving and critical 
      thinking skills that will enable me to succeed in a professional web 
      development workplace.
    </p>
  </div>
</div>
<div class="half-screen warwick-background"></div>
<div class="half-screen school">
  <div class="school-info">
    <h1>Western University</h1>
    <p class="subtitle">
      One Year Foreign Exchange
    </p>
    <p>
      Travelling to Canada and succeeding in a wide variety of classes demonstrates 
      my dedication, independence and ability to adapt quickly to new environments.
    </p>
  </div>
</div>
<div class="fill-screen western-background"></div>
{% endblock main %}
